@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "EASTAR";
  -ms-overflow-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s linear;
}

@font-face {
  font-family: "EASTAR";
  font-weight: 200;
  src: url("./assets/fonts/EASTARJET-Medium.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
